# project
**/node_modules/
**/package-lock.json
**/.npmrc
**/*.log
**/.project

# root
/.mta/
/*.mtar

# db
db/**/gen/

# service
srv/**/edmx/
srv/.settings/
srv/target/
srv/.apt_generated*/
srv/bin/
srv/.classpath
srv/.factorypath
srv/src/main/resources/connection.properties

# app
ui-*/**/dist/
ui-*/**/Component-preload.js
ui-*/**/localService/*.xml